@supports (backdrop-filter: var(--glass-effect-blur)) {
    .glass {
        --glass-effect-blur: 7px;
        backdrop-filter: blur(var(--glass-effect-blur)) !important;
        -webkit-backdrop-filter: blur(var(--glass-effect-blur)) !important;
        -moz-backdrop-filter: blur(var(--glass-effect-blur)) !important;
        -ms-backdrop-filter: blur(var(--glass-effect-blur)) !important;
        -o-backdrop-filter: blur(var(--glass-effect-blur)) !important;
        -s-backdrop-filter: blur(var(--glass-effect-blur)) !important;
        -khtml-backdrop-filter: blur(var(--glass-effect-blur)) !important;
    }
}