&::after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 2px
    ) !important;
    pointer-events: none !important;
    z-index: 1 !important;
    opacity: 0.3 !important;
  }
  
  &::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: repeating-linear-gradient(
      90deg,
      rgba(0, 255, 70, 0.1) 0px,
      rgba(0, 255, 70, 0.1) 1px,
      transparent 1px,
      transparent 3px
    ) !important;
    background-size: 10px 100% !important;
    opacity: 0.4 !important;
    z-index: 0 !important;
    pointer-events: none !important;
  }
  

  