.sidebar__navigation-link[href="/"]::before {
  content: "🏠" !important;
}

.sidebar__navigation-link[href="/pages/me"]::before {
  content: "👤" !important;
}

.sidebar__navigation-link[href="/pages/services"]::before {
  content: "🛠️" !important;
}

.sidebar__navigation-link[href="/pages/projects"]::before {
  content: "📁" !important;
}

.sidebar__navigation-link[href="/pages/resources"]::before {
  content: "📚" !important;
}

.sidebar__navigation-link[href="/pages/contact"]::before {
  content: "📧" !important;
}

.sidebar__navigation-link[href="/pages/meta"]::before {
  content: "📄" !important;
}

.sidebar__navigation-link[href="/pages/support"]::before {
  content: "💬" !important;
}

.sidebar__navigation-link[href="/pages/fun"]::before {
  content: "🎮" !important;
}
.sidebar__navigation-link[href="/pages/help"]::before {
  content: "❓" !important;
}
.sidebar__navigation-link[href="/pages/publication"]::before {
  content: "📰" !important;
}

.sidebar__navigation-link[href="/pages/portfolio"]::before {
  content: "💼" !important;
}

.sidebar__navigation-link[href="/pages/art"]::before {
  content: "🎨" !important;
}

.sidebar__navigation-link[href="/collections/all"]::before {
  content: "🛒" !important;
}

.sidebar__navigation-link[href="/pages/hominibus"]::before {
  content: "👥" !important;
}

.sidebar__navigation-link[href="/pages/hominibus"]::before {
  content: "👥" !important;
}

.sidebar__navigation-link[href="/pages/education"]::before {
  content: "🎓" !important;
}

.sidebar__navigation-link[href="/pages/news"]::before {
  content: "📰" !important;
}

.sidebar__navigation-link[href="/supporters"]::before {
  content: "🔒" !important;
}
